<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		    description="Transportation Route Alerts"
		    name="Transportation Route Alerts"
		    version="0.00021"
		    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
    <publisher name="George Skuse">
		  <contact email="george.skuse@gmail.com"/>
    </publisher>

</plugin>
