<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		    description="Bus/Transportation Route Alerts"
		    name="Bus/Transportation Route Alerts"
		    version="20190408.01"
		    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
    <publisher name="George Skuse">
		  <contact email="george.skuse@gmail.com"/>
    </publisher>

</plugin>
